{% extends "layout.html" %} {% block content %}
<h1>Course Offerings</h1>

<!--  Display the Term and Year here --->
<h3>Term: {{ term }}</h3>

<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Course ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Credits</th>
        <th scope="col">Term</th>
        {% if session['is_admin'] and session['username'] %}
        <th scope="col">Edit</th>
        {% endif %}
        <th scope="col">Enroll</th>
        {% if session['is_admin'] and session['username'] %}
        <th scope="col">Delete</th>
        {% else %} {% endif %}
      </tr>
    </thead>
    <tbody>
      <!-- Construct the rest of courses here -->
      {% for data in course_data %}
      <tr>
        <td scope="row">{{ data.course_id }}</td>
        <td>{{ data.title }}</td>
        <td>{{ data.description }}</td>
        <td>{{ data.credits }}</td>
        <td>{{ data.term }}</td>
        {% if session['is_admin'] and session['username']%}
        <td>
          <a
            href="{{ url_for('edit_course', course_id=data.id) }}"
            class="btn btn-secondary"
            >Edit</a
          >
        </td>
        {% endif %}
        <td>
          <form action="{{url_for('enrollment')}}" method="POST">
            <input
              type="hidden"
              name="course_id"
              value="{{ data.course_id }}"
            />
            <input type="hidden" name="title" value="{{ data.title }}" />
            <input type="hidden" name="term" value="{{ data.term }}" />
            <button class="btn btn-primary">Enroll</button>
          </form>
        </td>
        {% if session['is_admin'] and session['username']%}
        <td>
          <form
            action="{{ url_for('delete_course', course_id=data.id) }}"
            method="POST"
          >
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
