<!DOCTYPE html>
<html lang>
	<head>
		<meta charset="utf-8" />
		<meta name="title" property="og:title" content="Flask project IT Academy" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="" />
		<meta name="image" property="og:image" content="" />
		<meta
			name="description"
			property="og:description"
			content="Flask project Dragos IT Academy"
		/>
		<meta name="author" content="Plamen Ivanov" />
		<title>Dragos IT Academy</title>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/main.css') }}"
		/>
	</head>
	<body>
		<div class="container">
			<hr style="clear: both" />
			{% if session['username'] %}
			<span class="username">Welcome, {{ session['username'] }}</span>
			{% endif %}
			<a href="{{ url_for('index') }}">
				<img
					class="image"
					src="{{ url_for('static', filename='images/logo.png') }}"
					alt=""
				/>
			</a>
			{% include "includes/nav.html" %} {% with messages =
			get_flashed_messages(with_categories=true) %} {% if messages %} {% for
			category, message in messages %}
			<div class="alert alert-{{ category }}">
				<p>{{ message }}</p>
			</div>
			{% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock %}
		</div>
		{% include "includes/footer.html" %}
	</body>
</html>
